RewriteEngine on
RewriteCond $1 !^(index\.php|assets|adminassets|images|js|css|uploads|fonts|webfonts|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]
